/* Start of Global setup*/
* {
  font-family: "JetBrain Mono";
}

/* End of Global setup*/

/* Main area layout  */
/* .mainlayout {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.sidebar {
}

.navbar {
}

.main-content {
}

.footer {
} */

/* end of the Main area Layout */

/* Start of the SideBar */
.sidebar-main-container {
  background-color: grey;
  background-image: url("../Assets/pics/sidebar-1.jpg");
  background-position: center center;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sidebar-link {
  margin: 5px 15px;
  background-color: rgb(236, 236, 236);
  opacity: 0.86;
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
  height: 3rem;
}

.sidebar-link:hover {
  background-color: burlywood;
  margin: 5px 15px;
  opacity: 0.86;
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
  height: 3rem;
}

.sidebar-link h4 {
  text-decoration: none;
  font-size: bold;
  font-family: "Times New Roman", Times, serif;
  color: rgb(190, 104, 6);
}

/* End of Sidebar */

/* Start of Navbar */

.navbar-main {
  height: 70px;
  background-color: goldenrod;
  margin: 0px 10px 10px 0px;
  box-shadow: 4px 5px 4px 1px grey;
}
