/* Main area layout  */
.mainlayout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "navbar"
    "sidebar"
    "main-content"
    "footer";
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: navbar;
}

.main-content {
  grid-area: main-content;
}

.footer {
  grid-area: footer;
}

@media only screen and (min-width: 500px) {
  .mainlayout {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header   header"
      "sidebar  sidebar"
      "main-content main-content"
      "footer footer";
  }
}

@media only screen and (min-width: 600px) {
  .mainlayout {
    grid-gap: 20px;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
      "sidebar navbar"
      "sidebar main-content"
      "sidebar footer";
  }
}
